# Comprehensions Note

## List Comprehensions

### iterate to list using for loop

In [4]:
list=[]
for i in range(1,10):
    list.append(i)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

You can change it to list comprehension method

In [7]:
list=[i for i in range(1,15)]
print(list)

list=[i**2 for i in range(1,15)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

### if else List Comprehensions

- if example

In [8]:
list1 = []
for i in range(1,10):
    if (i%2==0):
        list1.append(i)   
print(list1)

[2, 4, 6, 8]

In [13]:
list = [i for i in range(1,10) if (i %2==0)]
print(list1)

[2, 4, 6, 8]

- if else example

In [84]:
list1 = []
for i in range(1,10):
    if (i%2==0):
        list1.append('Even')
    else:
        list1.append('Odd')
print(list1)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [83]:
list1 = ["Even" if x % 2 == 0 else "Odd" for x in range(1,10)]
list1

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

- nested if statement

In [88]:
thirds_even_odd = []
for x in range(10):
    if x%3==0:
        if x%2==0:
            thirds_even_odd.append("Even")
        else:
            thirds_even_odd.append("Odd")
print(thirds_even_odd)

['Even', 'Odd', 'Even', 'Odd']

In [86]:
thirds_even_odd = ["Even" if x % 2 == 0 else "Odd" for x in range(10) if x%3==0]
# [0, 3, 6, 9] after filtering numbers
# ["Even", "Odd", "Even", "Odd"] after ternary to string
print(thirds_even_odd)

['Even', 'Odd', 'Even', 'Odd']

## Dictionary Comprehensions

In [17]:
square={}
for x in range(0,9):
    square[x]=x**2
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [19]:
square={i:i**2 for i in range(0,9)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [49]:
for key,value in square.items():
    print(f"square of {key} is: {value}")

square of 0 is: 0
square of 1 is: 1
square of 2 is: 4
square of 3 is: 9
square of 4 is: 16
square of 5 is: 25
square of 6 is: 36
square of 7 is: 49
square of 8 is: 64

if else

In [59]:
square={}
for i in range(0,10):
    if i%2==0:
        square[i]= i**2
    else:
        square[i]='Na'
print(square)

{0: 0, 1: 'Na', 2: 4, 3: 'Na', 4: 16, 5: 'Na', 6: 36, 7: 'Na', 8: 64, 9: 'Na'}

In [67]:
for key,value in square.items():
    print(f"value of {key} are : {value}")

value of 0 are : 0
value of 1 are : Na
value of 2 are : 4
value of 3 are : Na
value of 4 are : 16
value of 5 are : Na
value of 6 are : 36
value of 7 are : Na
value of 8 are : 64
value of 9 are : Na

In [69]:
newsquare={i:i**2 if i%2==0 else 'NA' for i in range(0,10)}
print(newsquare)

{0: 0, 1: 'NA', 2: 4, 3: 'NA', 4: 16, 5: 'NA', 6: 36, 7: 'NA', 8: 64, 9: 'NA'}

In [68]:
for key,value in newsquare.items():
    print(f"value of {key} are : {value}")

value of 0 are : 0
value of 1 are : NA
value of 2 are : 4
value of 3 are : NA
value of 4 are : 16
value of 5 are : NA
value of 6 are : 36
value of 7 are : NA
value of 8 are : 64
value of 9 are : NA

In [54]:
string_name='helloworld'
string2= {keys:string_name.count(keys) for  keys in string_name}
print(string2)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

## SET

In [73]:
set= {i **2 for i in range (0,11)}
print(set)

{0, 1, 64, 4, 36, 100, 9, 16, 49, 81, 25}

In [78]:
set1={i**2 if i%2==0 else 'na' for i in range(1,10)}
print(set1)

{64, 4, 36, 16, 'na'}

## reference
- https://coderpad.io/blog/development/python-list-comprehension-guide/
- https://medium.com/analytics-vidhya/dictionary-set-comprehensions-a970a9552327